<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="FreightsDB" connectionString="Server=tcp:freightsdb.database.windows.net,1433;Initial Catalog=FreightsDB;Persist Security Info=False;User ID=yordiagustin@FreightsDB;Password=Lalibertad98;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
    <!--<add name="FreightsDB" connectionString="Data Source=DESKTOP-9AMINUG;Initial Catalog=FreightsDB;Integrated Security=True;MultipleActiveResultSets=True"/>-->
  </connectionStrings>
  
  

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  
  <system.serviceModel>
    
    <bindings>
      <basicHttpBinding>
        <binding name="EnlaceHTTP"
                 closeTimeout="00:10:00"
                 maxReceivedMessageSize="65536"
                 maxBufferSize="65536"
                 messageEncoding="Text"
                 textEncoding="utf-8">
        </binding>
      </basicHttpBinding>

      <webHttpBinding>
        <binding name="EnlaceHTTPRest"
                 closeTimeout="00:10:00"
                 crossDomainScriptAccessEnabled="true"></binding>
      </webHttpBinding>
    </bindings>

    <services>
      <service name="Freights.Implementacion.DriverService"
               behaviorConfiguration="ServiceBehavior">
        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="EnlaceHTTP"
                  contract="Freights.Contrato.IDriverService"></endpoint>


        <endpoint address="rest"
                  binding="webHttpBinding"
                  contract="Freights.Contrato.IDriverService"
                  bindingConfiguration="EnlaceHTTPRest"
                  behaviorConfiguration="webREST"></endpoint>
      </service>

      <service name="Freights.Implementacion.IncidenceService"
               behaviorConfiguration="ServiceBehavior">
        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="EnlaceHTTP"
                  contract="Freights.Contrato.IIncidenceService"></endpoint>


        <endpoint address="rest"
                  binding="webHttpBinding"
                  contract="Freights.Contrato.IIncidenceService"
                  bindingConfiguration="EnlaceHTTPRest"
                  behaviorConfiguration="webREST"></endpoint>
      </service>

    </services>
    
    <behaviors>

      <endpointBehaviors>
        <behavior name="webREST">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
      
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
